header {
  background-color: darkseagreen;
  padding: 5px;
  border: 5px solid darkcyan;
  text-align:center;
  color: darkcyan;
}

nav {
  background-color: darkcyan;
  text-align:center;
  border: 5px solid darkseagreen;
}

main {
  background-color: darkcyan;
  padding: 5px;
  border: 5px solid darkseagreen;
  color: darkseagreen;
}

footer {
  background-color: darkseagreen;
  padding: 5px;
  border: 5px solid darkcyan;
  color: darkcyan;
  font-family: "Courier New", monospace;
}

body {
  font-family: Tahoma, sans-serif;
  background-color: seagreen;
}

h1, h3 {
  text-decoration: underline;
}

h1, h2, h3, p, address {
  text-align: center;
}

a {
  padding: 10px;
  border: 2px solid lightseagreen;
  background-color: seagreen;
}

a:link, a:visited {
  color: darkseagreen;
}

a:hover {
  background-color: darkseagreen;
  color: darkcyan;
  font-size: 200%;
}

ul.navbar {
  list-style-type: none;
}

ul.navbar > li {
  display:inline;
  padding:5px;
}

ol.romancaps {
  list-style-type: upper-roman;
}

ol.romanlower {
  list-style-type: lower-roman;
}

.romanlower li:nth-child(odd) {
  background-color: #00A0A0;
}

table, th, td {
  border: 2px solid darkseagreen;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5em;
  font-family: Garamond, serif;
  border-collapse: collapse;
  padding: 5px;
}

th {
  width: 200px;
  color: white;
  background-color: black;
  padding: 5px;
}

td {
  color: silver;
}

.tags li:nth-child(odd) {
  background-color: #00A0A0;
}

.attributes li:nth-child(odd) {
  background-color: #00A0A0;
}

.banner {
  height:150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px inset darkcyan;
}

.header {grid-area: header;}
.nav {grid-area: nav;}
.main {grid-area: main;}
.footer {grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 5px;
  padding: 5px;
}