body {
  font-family: Tahoma, sans-serif;
  background-color: seagreen;
}

header {
  background-color: darkseagreen;
  padding: 5px;
  border: 5px solid darkcyan;
  text-align:center;
  color: darkcyan;
}

nav {
  background-color: darkcyan;
  text-align:center;
  border: 5px solid darkseagreen;
}

main {
  background-color: darkcyan;
  padding: 5px;
  border: 5px solid darkseagreen;
  color: darkseagreen;
}

footer {
  background-color: darkseagreen;
  padding: 5px;
  border: 5px solid darkcyan;
  color: darkcyan;
  font-family: "Courier New", monospace;
}

h1, h3 {
  text-decoration: underline;
}

h1, h2, h3, p, address {
  text-align: center;
}

li > a {
  padding: 10px;
  border: 2px solid lightseagreen;
  background-color: seagreen;
  text-decoration: none;
}

li > a:link, li > a:visited {
  color: darkseagreen;
}

li > a:hover {
  background-color: darkseagreen;
  color: darkcyan;
  font-size: 150%;
}

a {
  text-decoration: none;
  color: darkcyan;
}

a:hover {
  font-weight: bold;
}

ul.navbar {
  list-style-type: none;
  padding: 0;
}

ul.navbar > li {
  padding: 25px 10px;
}

ol.romancaps {
  list-style-type: upper-roman;
}

ol.romanlower {
  list-style-type: lower-roman;
}

.romanlower li:nth-child(odd) {
  background-color: #00A0A0;
}

table, th, td {
  border: 2px solid darkseagreen;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5em;
  font-family: Garamond, serif;
  border-collapse: collapse;
  padding: 5px;
}

th {
  width: 200px;
  color: white;
  background-color: black;
  padding: 5px;
}

td {
  color: silver;
}

.tags li:nth-child(odd) {
  background-color: #00A0A0;
}

.attributes li:nth-child(odd) {
  background-color: #00A0A0;
}

.banner {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px inset darkcyan;
}

.index-pic {
  width: 100%;
  object-fit: cover;
}

.aside {
  border: 5px solid darkseagreen;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.header {grid-area: header;}
.nav {grid-area: nav;}
.main {grid-area: main;}
.aside {grid-area: aside;}
.footer {grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav main aside'
    'footer footer footer';
  grid-template-columns: 20% 60% 20%;
  grid-gap: 5px;
  padding: 5px;
}

form > span {
  color: lightgray;
  font-size: 75%;
}

#myCanvas {
  background-color: white;
  color: black;
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

rect {
  fill:green;
  stroke:black;
  stroke-width:2;
  opacity:0.5
}


@media screen and (max-width: 750px) {
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'nav'
      'main'
      'aside'
      'footer';
    grid-template-columns: 100%;
    grid-gap: 5px;
    padding: 5px;
  }

  li > a:hover {
    background-color: darkseagreen;
    font-size: 100%;
  }

  body {
    background-color: black;
  }

  nav, main, aside {
    background-color: grey;
    border: 5px solid darkseagreen;
  }

  header, footer {
    background-color: darkseagreen;
    border: 5px solid grey;
  }

  li > a {
    border: 2px solid seagreen;
    background-color: darkseagreen;
  }

  ul.navbar {
    padding: 5px;
  }

  ul.navbar > li {
    display: inline;
    padding: 0 5px;
  }

  li > a:link, li > a:visited {
    color: grey;
  }

  aside {
    width: 95%;
  }
  
}